@using Melidya2.Entity
@model Customers

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
<div class="jumbotron">
    <h1 class="display-4">Hata!</h1>
    <hr class="my-4">
    <p>Geçersiz Kullanıcı Adı veya Şifre Lütfen Tekrar Dene.</p>
    <a class="btn btn-primary" href="/Home/Login">Giriş</a>
</div>
    
}
